appdirs==1.4.4
asgiref==3.8.1
certifi==2025.1.31
Django==4.2
importlib_metadata==8.6.1
pillow==11.1.0
pyee==11.1.1
pyppeteer==2.0.0
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==1.26.20
websockets==10.4
zipp==3.21.0
