<div class="is-flex is-align-items-center">
    <p class="title is-size-2-tablet">
        Sobre mi:
    </p>
</div>
<p class="subtitle mt-4 is-size-3-tablet">
    Mi nombre es <strong>Federico Suárez</strong>, apasionado por la tecnología, mi curiosidad impulsa mi constante <strong class="has-text-info">investigación</strong>,
     <strong class="has-text-info">aprendizaje</strong> y <strong class="has-text-info">aplicación</strong> de conocimientos tecnológicos.
    Me motiva enriquecer proyectos, aportando <strong class="has-text-primary">valor</strong> con mis habilidades,
     y comprendiendo que un <strong class="has-text-primary">enfoque</strong> integral con distintas <strong class="has-text-primary">perspectivas</strong>,
     es clave para lograr <strong class="has-text-primary">resultados</strong> que realmente marquen la diferencia. <br>
    <strong>Ciudad de Buenos Aires, Argentina.</strong>
</p>
