<div class="columns">
    {% for project in projects %}
    <div class="column is-full">

        <div class="card has-background-black-ter is-shadowless">
            <div class="card-image">
                <figure class="image is-16by9">
                    {% with project.images.all|first as first_image %}
                    {% if first_image %}
                    <!-- Agregar botón para abrir el modal -->
                    <a class="js-modal-trigger" data-target="modal-{{ project.id }}">
                        <img src="{{ first_image.image.url }}" alt="{{ project.title }}">
                    </a>
                    {% endif %}
                    {% endwith %}
                </figure>
                <p class="title is-5 ml-2 mt-2 mr-2">{{ project.title }}</p>
            </div>

            <div class="card-content p-2">
                <div class="container">
                     <div class="subtitle is-5">
                        {{ project.description }}
                     </div>
                    <div class="container mt-1 is-flex is-flex-wrap-wrap is-justify-content-center">
                        {% for tech in project.technologies.all %}
                        <div class="mx-1 is-flex is-flex-direction-column is-align-items-center">
                            <figure
                                class="image is-32x32 {% if tech.name == 'djangoREST' %}has-background-grey-lighter{% endif %}">
                                <img src="{{ tech.logo.url }}" alt="{{ tech.name }}">
                            </figure>
                            <div class="subtitle is-7 is-hidden-mobile">{{ tech.name|capfirst }}</div>
                            <p class="is-hidden-tablet">{{ tech.name|capfirst }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para la imagen -->
        <div id="modal-{{ project.id }}" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <figure class="image">
                    {% with project.images.all|first as first_image %}
                    {% if first_image %}
                    <img src="{{ first_image.image.url }}" alt="{{ project.title }}">
                    {% endif %}
                    {% endwith %}
                </figure>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    </div>
    {% endfor %}
</div>