<!-- app_mock/contacto.html -->
 
<div class="is-flex is-align-items-center">
    <p class="title is-size-2-tablet">
        Contacto:
    </p>
</div>

<div class="is-flex is-align-items-baseline" style="gap: 1rem;">
    <p class="subtitle mt-2">
        <a id="email-link" href="mailto:federico.suarez.dev@protonmail.com" class="subtitle subtitle is-size-2-tablet has-text-success">federico.suarez.dev@protonmail.com</a>
    </p>
    <strong>|</strong>
    <div class="button is-success" onclick="copyEmail()">Copy email</div>
</div>

<div id="copy-message" class="is-hidden subtitle has-text-success has-text-weight-bold">
    ¡Correo copiado!
</div>

<div class="container">
    <!-- Botón para descargar la versión original (Dark) -->
    <a href="{% url 'descargar_pdf' %}" class="button is-success mb-2">
        <strong>CV VERSION PDF (MODO ORIGINAL)</strong>
    </a>
    <!-- Botón para descargar la versión Light -->
    <a href="{% url 'descargar_pdf' %}?light=true" class="button is-warning">
       <strong>CV VERSION PDF IMPRESIÓN (MODO CLARO)</strong>
    </a>
</div>




    
