<div class="is-flex is-align-items-center">
    <p class="title">
        Experiencia Laboral:
    </p>
</div>
<p class="subtitle mt-4" style="white-space: pre-line;">Data Prima
    Ciudad de Buenos Aires

    Django Back/Front Developer.
    2022 - Actualidad
 
    Backend developer.
    2019 - 2022

    IT Support.
    2017 - 2019

    Universidad Nacional de la Matanza:
    Provincia de Buenos Aires - San Justo
    
    Backend Developer.
    2021 - 2022

    IT Support.
    2011 - 2020
</p>

