<div class="is-flex is-align-items-center">
    <p class="title">
        Experiencia Laboral:
    </p>
</div>
<p class="subtitle mt-3" style="white-space: pre-line;"><span class="title is-4 has-text-info">DataPrima</span>
    <span class="subtitle is-6">Ciudad de Buenos Aires - Argentina</span>

    <span class="title is-4 has-text-primary">Django Back/Front Developer.</span>
    <span class="subtitle is-6">2022 - Actualidad</span>
    
    <span class="title is-4 has-text-primary">Backend developer.</span>
    <span class="subtitle is-6">2019 - 2022</span>

    <span class="title is-4 has-text-primary">IT Support.</span>
    <span class="subtitle is-6">2017 - 2019</span>

    <span class="title is-4 has-text-info has-text-primary">Universidad Nacional de la Matanza:</span>
    <span class="subtitle is-6">San Justo - Provincia de Buenos Aires - Argentina</span>

    <span class="title is-4 has-text-primary">Backend Developer.</span>
    <span class="subtitle is-6">2021 - 2022</span>

    <span class="title is-4 has-text-primary">IT Support.</span>
    <span class="subtitle is-6">2011 - 2020</span>
</p>

