<!-- app_core/header.html -->
 {% load static %}
<nav class="navbar is-fixed-top"  role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="{% static 'app_mock/images/favicon.svg' %}" alt="Logo">
        </a>
        <a role="button" class="navbar-burger" data-target="navbar-menu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
    </div>

    <div class="navbar-menu" id="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="#inicio">
                Inicio
            </a>
            <a class="navbar-item" href="#proyectos">
                Proyectos
            </a>
            <a class="navbar-item" href="#tecnologias">
                Tecnologías
            </a>
            <a class="navbar-item" href="#sobre-mi">
                Sobre Mi
            </a>
            <a class="navbar-item" href="#experiencia">
                Experiencia Laboral
            </a>
            <a class="navbar-item" href="#estudios">
                Estudios
            </a>
            <a class="navbar-item" href="#contacto">
                Contacto
            </a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item">
                Federico Suárez
            </a>
        </div>
    </div>
</nav>