<!-- app_core/header.html -->
 {% load static %}
<nav class="navbar is-fixed-top"  role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="{% static 'app_mock/images/favicon.svg' %}" alt="Logo">
        </a>
        <a role="button" class="navbar-burger" data-target="navbar-menu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
    </div>

    <div class="navbar-menu" id="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                <div class="subtitle">Inicio</div>
            </a>
            <a class="navbar-item">
                <div class="subtitle">Proyectos</div>
            </a>
            <a class="navbar-item">
                <div class="subtitle">Tecnologías</div>
            </a>
            <a class="navbar-item">
                <div class="subtitle">Sobre Mi</div>
            </a>
            <a class="navbar-item">
                <div class="subtitle">Experiencia Laboral</div>
            </a>
            <a class="navbar-item">
                <div class="subtitle">Estudios</div>
            </a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item">
                Federico Suárez
            </a>
        </div>
    </div>
</nav>