<!-- app_core/header.html -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="title is-hidden-desktop">
            Federico Suárez Dev
        </div>
        <a class="navbar-burger" role="button" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item title">
                <div class="title">
                    Django and Python Developer
                </div>
            </div>
        </div>
    
        <div class="navbar-end">
            <div class="navbar-item title">
                <div class="title">
                    Federico Suárez
                </div>
            </div>
        </div>
    </div>
</nav>