<!-- app_core/header.html -->
 {% load static %}
<nav class="navbar is-fixed-bottom has-background-black-bis"  role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item" href="#">
            <img src="{% static 'app_mock/images/favicon.svg' %}" alt="Logo">
        </div>
        <div class="navbar-item is-hidden-desktop">
            Federico Suárez
        </div>
        <a role="button" class="navbar-burger" data-target="navbar-menu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="#inicio">
                Inicio
            </a>
            <a class="navbar-item" href="#proyectos">
                Proyectos
            </a>
            <a class="navbar-item" href="#tecnologias">
                Tecnologías
            </a>
            <a class="navbar-item" href="#sobre-mi">
                Sobre Mi
            </a>
            <a class="navbar-item" href="#experiencia">
                Experiencia Laboral
            </a>
            <a class="navbar-item" href="#estudios">
                Formación
            </a>
            <a class="navbar-item" href="#contacto">
                Contacto
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item is-hidden-mobile">
                Federico Suárez
            </div>
        </div>
    </div>
</nav>