{% load static %}

<div class="is-flex is-align-items-center">
    <figure class="image is-64x64">
        <img src="{{ tech }}" alt="Django">
    </figure>
    <p class="title ml-3">
        Developer
    </p>
</div>
<p class="subtitle mt-4">
    <strong>Crear</strong> y transformar <strong>software</strong>, en <strong>experiencias</strong> web
    <strong>simples</strong>, <strong>limpias</strong> e
    <strong>intuitivas</strong>.
</p>

<figure class="image is-32x32 {% if tech.name == 'djangoREST' %}has-background-grey-lighter{% endif %}">
    <img src="{{ tech.logo.url }}" alt="{{ tech.name }}">
</figure>