
<div class="is-flex is-align-items-center">
    <p class="title is-size-3-mobile is-size-1-tablet has-text-success">
        Python Developer <span class="m-5">+</span>
    </p>
    <figure class="image is-96x96">
        <img src="{{ intro_logo.logo.url }}" alt="Django">
    </figure>
</div>
<p class="subtitle mt-6 is-size-3-desktop is-size-4-mobile">
    Me apasiona <strong class="has-text-info">crear</strong> y <strong class="has-text-info">optimizar</strong> software.
    Con foco en <strong class="has-text-warning">backend</strong> y complemento en <strong class="has-text-warning">frontend</strong>, para lograr resultados <strong class="has-text-primary">limpios</strong> y
    <strong class="has-text-primary">eficaces</strong>.
</p>
