<!-- app_mock/main.html -->
{% extends 'app_mock/base.html' %}

{% load static %}

{% block content %}

<section class="hero is-small" id="inicio">
    <div class="hero-body">
        {% include 'app_mock/intro.html' %}
    </div>
</section>

<section class="hero is-small" id="proyectos">
    <div class="hero-body">
        {% include 'app_mock/proyectos.html' %}
    </div>
</section>

<section class="hero is-small" id="tecnologias">
    <div class="hero-body">
        {% include 'app_mock/technologies.html' %}
    </div>
</section>

<section class="hero is-small" id="sobre-mi">
    <div class="hero-body">
        {% include 'app_mock/about.html' %}
    </div>
</section>

<section class="hero is-small" id="experiencia">
    <div class="hero-body">
        {% include 'app_mock/experiencia.html' %}
    </div>
</section>

<section class="hero is-small" id="estudios">
    <div class="hero-body">
        {% include 'app_mock/estudios.html' %}
    </div>
</section>

<section class="hero is-small" id="contacto">
    <div class="hero-body">
        {% include 'app_mock/contacto.html' %}
    </div>
</section>

{% endblock %}