<!-- app_core/main.html -->

<section class="hero">
    <div class="hero-body">
        <p class="title">
            Django Developer
        </p>
        <p class="subtitle mt-3">
            <strong>Crear</strong> y transformar <strong>software</strong> a <strong>experiencias</strong> web
            <strong>simples</strong>, <strong>limpias</strong> e
            <strong>intuitivas</strong>.
        </p>
    </div>
</section>

<section class="hero">
    <div class="hero-body">
        <p class="title">
            Proyectos
        </p>
        <div class="columns">
            <div class="column is-4">
                {% include 'app_mock/card.html' %}
            </div>
    
            <div class="column is-4">
                {% include 'app_mock/card.html' %}
            </div>
    
            <div class="column is-4">
                {% include 'app_mock/card.html' %}
            </div>
        </div>
    </div>
</section>