<!-- app_mock/main.html -->
{% extends 'app_mock/base.html' %}

{% load static %}

{% block content %}

<section class="hero is-small">
    <div class="hero-body">
        {% include 'app_mock/intro.html' %}
    </div>
</section>

<section class="hero is-small">
    <div class="hero-body">
        {% include 'app_mock/proyectos.html' %}
    </div>
</section>

<section class="hero is-small">
    <div class="hero-body">
        {% include 'app_mock/technologies.html' %}
    </div>
</section>

<section class="hero is-small">
    <div class="hero-body">
        {% include 'app_mock/about.html' %}
    </div>
</section>

<section class="hero is-small">
    <div class="hero-body">
        {% include 'app_mock/contacto.html' %}
    </div>
</section>

{% block extra_js %}
    {{ block.super }}  <!-- Esto asegura que no se sobrescriban otros scripts -->
    <script src="{% static 'app_mock/js/copyEmail.js' %}"></script>
    <script src="{% static 'app_mock/js/modal.js' %}"></script>
{% endblock %}

{% endblock %}